body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: #d6eef2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #03363d;
  text-align: center;
}

.search-box {
  background-color: transparent;
}
.searchform-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.searchform-box input {
  padding: 12px 0;
  border-radius: 6px;
  border: none;
  margin-right: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.searchform-box input::placeholder {
  padding-left: 6px;
}

.searchform-box button {
  background-color: #134441;
  color: #f8faf9;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.searchform-box button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.searchform-box button:hover {
  border-color: #646cff;
}
