:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #111;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}